/* 경민 스튜디오 소개 페이지 */
body{overflow-x:hidden;}
#skip { position:absolute; top:-30px; width:100%; height:30px; background:#333; text-align:center; line-height:30px; z-index:999;}
#skip a {color:#fff;}
#wrap {position:relative;}
/* header 공통 */
#header_zone {position:fixed; width:100%; height:70px; background:rgba(0,0,0,1);-webkit-box-sizing:border-box; box-sizing:border-box; border-color:#fff; border-bottom:1px solid rgba(255,255,255,.2);  transition:1s all; z-index:800;}
#header_zone.scrolltype {height:50px;background:#000;}
#header_zone.scrolltype .logo{padding-top:3px;} 
#header_zone.scrolltype .counseling > a {line-height:50px;} 
.header_inner {position:relative;  width:1100px;height:100%; margin:0 auto;  }
.logo {position:absolute; height:100%; padding-top:10px; transition:1s all;}
.logo  span {display:inline-block; width:0; height:0; font-size:0; text-indent:-9999px; }
.counseling {position:absolute; right:180px;}
.counseling > a {position:relative; font-size:14px;font-weight:bold; color:#fff; line-height:70px; padding-right:28px; transition:1s all;}
.counseling > a:after {position:absolute; top:2px; right:0; width:17px;height:17px; background:url(../image/about/header_arrow.png) no-repeat 0 0 ; content:"";}

.gnb_Open_btn {position:absolute; top:50%; right:20px; margin-top:-10px;  }
.gnb_Open_btn  a {overflow:hidden; display:inline-block ;position:relative; width:27px; height:25px;}
.gnb_Open_btn  a:before {display:block; position:absolute; top:0; left:1px; width:27px; height:4px; background:#fff; content:""; transform:skewX(-30deg); transition:.3s all;}
.gnb_Open_btn  a:after {display:block; position:absolute; top:18px;left:1px; width:27px; height:4px; background:#fff; content:"";transform:skewX(-30deg); transition:.3s all;}
.gnb_Open_btn  a span {display:inline-block; position:relative; text-indent:-9999px; }
.gnb_Open_btn  a span:after {display:block; position:absolute; top:9px;left:1px; width:27px; height:4px; background:#fff; content:"";transform:skewX(-30deg); transition:.3s all;}

.gnb_Open_btn  a:hover:before {background:#2c8212;}
.gnb_Open_btn  a:hover:after {background:#2c8212;} 
.gnb_Open_btn  a:hover span:after {background:#2c8212;}

.gnb_Open_btn.on  a:before {top:10px; transform:rotate(-135deg);}
.gnb_Open_btn.on  a:after {top:10px; transform:rotate(135deg); } 
.gnb_Open_btn.on  a span:after {left:-30px;}

/* footer */
#footer_zone {
display: -webkit-box;display: box;-webkit-box-orient: vertical;box-orient: vertical; /*세로로*/-webkit-box-pack: center;  height:180px; background:#f1f1f1; text-align:center;}
#footer_zone .txt01 { font-size:14px; color:#0e0f08;}
#footer_zone .txt01:before {display:block; width:28px; height:28px; margin:0 auto 10px; background:url(../image/footer_icon.png) no-repeat 0 0; content:"";}
#footer_zone .txt02 {margin-top:10px; font-size:12px; color:#8c8e96; }



/* gnb */
.gnb {overflow:hidden; position:fixed; top:0; right:-300px; width:300px; background:#262626; z-index:900;}
.gnb_list {padding:80px 0 0 60px; }
.gnb_list li {margin-top:20px;}
.gnb_list li:first-child {margin-top:0;}
.gnb_list li a {color:#8d8d8d; transition:.3s all;}
.gnb_list li a:hover {color:#2c8212;}

.gnb_counseling {padding-left:60px;}
.gnb_counseling:before {display:block; width:30px; height:2px; margin:40px 0 30px;background:#8d8d8d;  content:"";}
.gnb_counseling a {font-size:18px; font-weight:bold; color:#e8c111;}

.studio_info {margin-top:60px; padding-left:60px;}
.studio_info li {position:relative; margin-top:20px; padding-left:20px; font-size:12px; color:#8d8d8d;}
.studio_info li:first-child {margin-top:0; }
.studio_info li:after {display:block; position:absolute; left:0; top:4px; content:"";}
.studio_info li.tel:after {width:8px; height:8px; background:url(../image/gnb_call.png) no-repeat 0 0; background-size:;}
.studio_info li.addr:after {width:6px; height:9px; background:url(../image/gnb_point.png) no-repeat 0 0; background-size:;}
.studio_info li.email:after {width:8px; height:7px; background:url(../image/gnb_mail.png) no-repeat 0 0; background-size:;}

.copyright { padding-left:60px; font-size:14px; color:#8d8d8d;line-height:23px;}
.copyright:before {display:block;width:20px; height:20px;  margin:40px 0 20px; background:url(../image/gnb_c.png) no-repeat 0 0;  content:"";}
.copyright .bold {font-weight:bold;}

/* 상담 팝업 */
.counseling_pop_zone {display:none; position:fixed;top:0;left:0; width:100%; background:black;  opacity:.7; z-index:890;}
.counseling_pop {position:fixed; top:0; right:-1070px; width:1050px; min-height:800px; background:rgba(38,38,38,1); z-index:900;}



.studio_name {position:absolute; top:336px; left:-343px; width:800px; height:112px; transform:rotate(90deg);}
.studio_name .name_txt {position:absolute;top:-31px; width:1000px; font-size:160px; font-weight:bold; color:#363636; line-height:1;}
.studio_name .name_txt > span{letter-spacing:-60px; text-shadow:1px -1px 1px #8d8d8d; transition:1s all;} 
.studio_name .name_txt .txt.show {color:#8d8d8d; text-shadow:1px -1px 2px #363636;}

/* form */

.counseling_pop label {display:none;}
.pop_content {position:relative;top:50px; left:200px; width:760px;  color:#8d8d8d;}
.pop_content .main_tit {font-size:14px;}
.pop_content .main_txt01 {margin-top:30px; font-size:52px;}
.pop_content .main_txt02 {margin-top:20px;font-size:16px; line-height:25px;}

.pop_form {margin-top:50px;}
.pop_form .tit {font-size:16px; color:#8d8d8d;}
.pop_form .star {display:inline-block; position:relative; padding-right:11px;}
.pop_form .star:after {display:block; position:absolute; top:5px; right:0; font-size:20px;color:red; content:"*";}

.surely_zone {margin-top:10px;} 
.surely_zone input[type="text"] {border:none; padding-left:130px; border-radius:5px; background:#363636; color:#fff;}
.surely_zone input[type="text"]:focus {background:black; color:#fff;}
.name_zone {position:relative; float:left; width:50%;  line-height:40px; }
.name_zone .txt{position:absolute; left:60px;}
.name_zone .txt:after {display:block;position:absolute;top:7px; left:-40px; width:26px;height:30px;  background:url(../image/name_icon.png) no-repeat 0 0; content:"";}
.name_zone #name {width:240px; height:40px;}

.tel_zone {position:relative; float:left; width:50%;  line-height:40px; }
.tel_zone .txt{position:absolute; left:60px;}
.tel_zone .txt:after {display:block;position:absolute;top:7px; left:-40px; width:26px;height:30px;  background:url(../image/tel_icon.png) no-repeat 0 0; content:"";}
.tel_zone #tel {width:240px;  height:40px;}

.email_zone {position:relative; clear:both;  width:100%; padding-top:10px;  line-height:40px;}
.email_zone .txt{position:absolute; left:60px;}
.email_zone .txt:after {display:block;position:absolute;top:9px; left:-40px; width:30px;height:22px;  background:url(../image/mail_icon.png) no-repeat 0 0; content:"";}
.email_zone #email {width:620px;  height:40px; }

.pop_form .tit.type02 {margin-top:30px;}
.pop_form .tit.type02 > span {position:relative; padding-right:11px;}
.pop_form .tit.type02 > span:after {display:block; position:absolute; top:2px; right:0; font-size:20px;color:#2c8212; content:"*";}
.select_zone {}
.select_inner { margin-top:10px; }
.select_inner:after {display:block; clear:both; content:"";}
.select_inner li {display: -webkit-box;display: box;-webkit-box-orient: vertical;box-orient: vertical; /*세로로*/-webkit-box-pack: center; float:left; width:250px; height:40px; margin-top:10px;  color:#626262;}
.select_inner li .title {position:relative; top:-2px; left:10px;}
.select_inner li.etc_text_zone {width:100%; position:relative; height:auto;}
.select_inner li.etc_text_zone #etc_text {position:relative; width:700px; height:45px; background:#363636; border:none;border-radius:5px;margin:0; padding:20px 20px 20px 30px; color:#8d8d8d; } 
.select_inner li.etc_text_zone:after {display:block; position:absolute; top:5px;left:5px;  width:25px; height:25px; background:url(../image/etc_icon.png) no-repeat 0 0; content:"";}

.agreement_zone {margin-top:30px;}
.agreement_zone .tit {position:relative; padding-left:25px; }
.agreement_zone .tit .checkbox_style {display:inline-block; position:absolute; top:4px; left:0; width:15px; height:15px; border:2px solid #878787; -webkit-box-sizing:border-box; box-sizing:border-box;}
.agreement_zone .tit .checkbox_style.check:after {display:block; position:absolute; top:-4px; left:-2px; width:20px;height:16px; background:url(../image/check.png) no-repeat; background-size:100%;100%; content:"";}
.agreement_zone .tit #check01 {position:absolute; width:0;height:0; opacity:0;}
.agreement_zone .tit .check02 {text-decoration:underline; color:#dbdbdb;}

.pop_form .btn_article {margin-top:30px;}
.pop_form .btn_article a {display:block; width:140px; height:50px;border-radius:5px; background:#1b1b1b; line-height:50px; color:#2c8212;  text-align:center;font-weight:bold; transition:.3s all;}
.pop_form .btn_article a span {padding-right:40px; position:relative; font-size:16px; text-shadow:1px 1px 1px #2c8212;}
.pop_form .btn_article a span:after {display:block; position:absolute;top:0; right:0;width:23px; height:19px; background:url(../image/check.png) no-repeat 0 0; background-size:100% 100%; content:"";}
.pop_form .btn_article a:hover {background:#fff;}

/* 닫기 */
.cancel {position:absolute; top:20px; right:20px;   text-indent:-9999px;}
.cancel a {display:block; width:26px; height:26px; font-size:0; background:url(../image/cancel.png) no-repeat; background-size:100% 100%; transition:.5s all;}
.cancel a:hover {transform:rotate(180deg);}


/* top btn */
.top_btn {display:none; position:fixed; bottom:30px; right:30px; z-index:800;}
.top_btn a {display:block; width:25px; height:25px;  border-radius:5px; background:#333; color:#fff;}

/*스크롤 css*/
::-webkit-scrollbar { /*크기*/
	width: 10px; 	
} 
::-webkit-scrollbar-track {
 background-color: rgba(102,102,102,.5); /*스크롤 바탕 색상*/
 border-left:1px solid rgba(102,102,102,.5);
}
::-webkit-scrollbar-thumb { /*현재 영역스크롤 색상*/
	 background:black;
	-webkit-box-shadow:1px 2px 5px #474747;
	-moz-box-shadow:1px 2px 5px #474747; 
	box-shadow:1px 2px 5px #474747;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	border-top-left-radius:5px;

	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	border-top-right-radius:5px;

	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;

	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
