/* main */
.content {width:100%;}

.scroll {animation:move 1.2s ease;}
.scroll2 {animation:move 1.4s ease;}


/* */
.main_bg {position:relative; width:100%;background:url(../image/main/main_bg.png) no-repeat 50% 0; background-size:cover; text-align:center;}
.main_bg .tit {display:block;padding-top:28%; font-size:30px; font-weight:normal;color:#fff; letter-spacing:25px; animation:move 1s ease;}
.main_bg .txt {margin-top:1%; font-size:20px; font-size:20px; color:#b7b3b3;  letter-spacing:2px; animation:move 1.4s ease;}
.main_bg .btn_article {position:absolute;left:50%; bottom:50px; margin-left:-13px; text-align:center; animation:move 1.8s ease;}
.main_bg .btn_article a {display:inline-block; width:26px;height:29px; background:url(../image/main/main_btn.png) no-repeat 0 0; text-indent:-9999px;  animation:main_top 3s linear infinite;}

.sub_tit {padding-top:100px; font-size:40px; font-weight:normal; }

/* */
.about_zone { text-align:center;}
.about_zone .sub_tit {opacity:0;}
.about_zone .sub_tit span{font-weight:bold;}
.about_zone .txt_zone { width:1200px; margin:30px auto 0; padding-bottom:100px;}
.about_zone .txt_inner {display:flex;}
.about_zone .txt_inner li {width:33.3333%; text-align:left;opacity:0;}
.about_zone .txt_inner li .txt {font-size:16px; color:#888; }
.about_zone .txt_inner li  a {position:relative;padding-left:15px; font-size:14px; color:#333; line-height:30px;}
.about_zone .txt_inner li  a:after {display:block; position:absolute;top:10px; left:0; width:5px; height:1px; background:#333; content:"";}
.about_zone .txt_zone .btn_article {margin-top:30px; text-align:center; opacity:0;} 
.about_zone .txt_zone .btn_article a {display:inline-block; width:26px; height:26px; background:url(../image/main/box_arrow.png) no-repeat; font-size:0; text-indent:-9999px;}


.about_zone .sub_tit.scroll {animation:move 1.4s ease; opacity:1;}
.about_zone .txt_zone .txt_inner li.scroll2 {animation:move 1.4s ease; opacity:1;}
.about_zone .txt_zone .btn_article.scroll {animation:move 1.4s ease; opacity:1;}
/* */
.portfolio_zone {text-align:center; background:#2d2d2c; padding-bottom:100px;}
	.portfolio_zone .sub_tit {color:#fff; opacity:0;}
	.portfolio_zone .sub_tit + .txt {opacity:0;}
	.portfolio_zone .sub_tit + .txt a { font-size:15px;  color:#999;transition:.3s all;}
	.portfolio_zone .sub_tit + .txt a:hover {color:#fff;}
	.portfolio_zone .sub_tit + .txt a span {display:inline-block;position:relative;  width:210px; padding-right:30px;}
	.portfolio_zone .sub_tit + .txt a span:after {display:block; position:absolute; top:0px;  right:0; content:"→"; animation:arow01 1s linear infinite;} 
	.portfolio_zone .sub_tit.scroll {animation:move 1.4s ease; opacity:1;}
	.portfolio_zone .sub_tit + .txt.scroll {animation:move 1.4s ease; opacity:1;}

	.portfolio_inner {width:1200px; height:900px;  margin:40px auto 0;}
	.portfolio_info {position:relative; }
	.portfolio_info li {overflow:hidden; position:absolute;  background:black;}
	.portfolio_info li .img {width:100%; height:100%;  transition:.5s all;}
	.portfolio_info li .img img{width:100%; height:100%; border:none;}
	
	.portfolio_info li.list_01 { width:590px; height:420px;} 
	.portfolio_info li.list_02 {right:305px; width:285px;height:200px;} 
	.portfolio_info li.list_03 {right:0; width:285px;height:200px;}  
	.portfolio_info li.list_04 {top:220px; right:305px; width:285px;height:200px; }  
	.portfolio_info li.list_05 {top:220px; right:0; width:285px;height:420px; }  
	.portfolio_info li.list_06 {top:440px; left:0; width:285px;height:200px; }  
	.portfolio_info li.list_07 {top:440px; left:305px; width:285px;height:200px; }  
	.portfolio_info li.list_08 {top:440px; left:610px; width:285px;height:200px; }  
	.portfolio_info li.list_09 {top:660px; left:0; width:285px;height:200px; }  
	.portfolio_info li.list_10 {top:660px; left:305px; width:590px;height:200px; }  
	.portfolio_info li.list_11 {top:660px; right:0; width:285px;height:200px; }  
	.portfolio_info li:hover .img {opacity:.7; transform:scale(1.07, 1.07) rotate(3deg);}
/* */
.counsel_zone {text-align:center; padding-bottom:100px; background:url(../image/main/counsel_bg.png) no-repeat 50% 0; background-size:cover;}
	.counsel_zone .sub_tit {font-weight:bold; color:#fff; opacity:0;}
	.counsel_zone .sub_tit + .txt {font-size:15px; color:#999; opacity:0;}
	.counsel_zone .btn_article {margin-top:30px; text-align:center; opacity:0;}
	.counsel_zone .btn_article a {display:inline-block;  width:160px; height:40px; border:1px solid #fff;  font-size:17px; color:#fff; line-height:40px; transition:1s all;}
	.counsel_zone .btn_article a:hover {background:#fff; color:#333; font-weight:bold;}

	.counsel_zone .sub_tit.scroll {animation:move 1.4s ease; opacity:1;}
	.counsel_zone .sub_tit + .txt.scroll {animation:move 1.4s ease; opacity:1;}
	.counsel_zone .btn_article.scroll {animation:move 1.4s ease; opacity:1;}
/* */
.instagram_zone {text-align:center; background:#e6e3e1;}
.instagram_zone .sub_tit {text-align:center;}
.instagram_zone .sub_tit + .txt {font-size:15px; color:rgba(52,26,1,.5);}

.instagram_zone .sub_tit.scroll {animation:move 1.4s ease; opacity:1;}
.instagram_zone .sub_tit + .txt.scroll {animation:move 1.4s ease; opacity:1;}

.instagram_inner {position:relative; width:1200px;margin:20px auto 0;padding-bottom:100px; }
	.instagram_info {}
	.instagram_info:after {display:block; clear:both; content:"";}
	.instagram_info li {overflow:hidden; float:left; position:relative; width:380px; height:270px; margin-top:20px; margin-right:20px; opacity:0;}
	.instagram_info li:nth-child(3n) {margin-right:0; }
	.instagram_info li a {display:inline-block;  width:100%; height:100%; background:gray;}
	.instagram_info li a .img {width:100%; height:100%;}
	.img_none {display:none;}

	.focus_on {position:absolute; top:0; width:100%;height:100%; }
	.focus_on:after {display:block; position:absolute;top:-40%; right:-20%; width:35%; height:180%; background:#fff; background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%;); background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); opacity:.7; transform:rotate(20deg); content:""; transition: all .9s;}
	.focus_on.hover:after {width:150%; opacity:1; background:rgba(255,255,255,.9);}
	.focus_on .text_zone {display:-webkit-box; display: box;-webkit-box-orient: vertical; box-orient: vertical; -webkit-box-pack: center; box-pack: center; position:absolute; width:100%;height:100%;left:50px;  z-index:10;  text-align:left;}
	.focus_on .text_zone .tit {font-size:30px; color:#333;}
	.focus_on .text_zone .tit span {font-size:40px; font-weight:bold; color:#2c8212;}
	.focus_on .text_zone .txt {display:inline-block; height:20px; padding-left:15px;margin-left:17px; border-left:1px solid #666; font-size:15px; color:#8f82d4; line-height:20px;}
	.focus_on .text_zone > .btn_article {margin-top:20px;}
	.focus_on .text_zone > .btn_article a {display:inline-block; width:60px; height:20px;margin-left:9%;  border:1px solid #dbdbdb; font-size:13px; background:#fff; line-height:20px;color:#2c8212;  text-align:center;-webkit-transition:.7s all; -moz-transition:.7s all; -o-transition:.7s all; transition:.7s all;}
	.focus_on .text_zone > .btn_article a:hover {background:#2c8212; color:#fff;}

	.text_zone.on .tit {-webkit-animation:hover 0.8s; -moz-animation:hover 0.8s; -o-animation:hover 0.8s; -ms-animation:hover 0.8s; animation:hover 0.8s;}
	.text_zone.on .txt {-webkit-animation:hover 1.8s ease; -moz-animation:hover 1.8s ease; -o-animation:hover 1.8s ease; -ms-animation:hover 1.8s ease; animation:hover 1.8s ease;}
	.text_zone.on > .btn_article a {-webkit-animation:hover 1.9s ease; -moz-animation:hover 1.9s ease; -o-animation:hover 1.9s ease; -ms-animation:hover 1.9s ease; animation:hover 1.9s ease;}
	@-webkit-keyframes hover {0% {transform:translateY(25px); opacity:0;} 100% {transform:translateY(0); opacity:1;}}
	@-moz-keyframes hover { 0% {transform:translateY(25px); opacity:0;} 100% {transform:translateY(0); opacity:1;}}
	@-o-keyframes hover { 0% {transform:translateY(25px); opacity:0;}100% {transform:translateY(0); opacity:1;}}
	@-ms-keyframes hover { 0% {transform:translateY(25px); opacity:0;} 100% {transform:translateY(0); opacity:1;} }
	@keyframes hover {0% {transform:translateY(25px); opacity:0;}100% {transform:translateY(0); opacity:1;}}

	.instagram_info li.scroll {animation:move 1.4s ease; opacity:1;}
/* */
.news_zone {text-align:center;}
	.news_zone .sub_tit {opacity:0;}
	.news_zone .sub_tit + .txt {font-size:15px; color:rgba(52,26,1,.5); opacity:0;}
	.news_inner {width:1200px; margin:40px auto 0; padding-bottom:100px;}
	.news_info {}
	.news_info:after {display:block; clear:both; content:"";}
	.news_info li {overflow:hidden; float:left;width:285px; height:285px; margin-left:20px; text-align:center; color:#fff; opacity:0;}
	.news_info li:first-child {margin-left:0px;}
	.news_info li a {display:block;position:relative; width:100%; height:100%; background:#191919; }
	.news_info li a .img {display:block; position:absolute; width:100%;height:100%;opacity:0;transition:1s all;}
	.news_info li a .img img {width:100%; height:100%;}
	.news_info li a .info  {position:absolute;width:100%;height:100%;}
	.news_info li .tit {padding-top:30px; font-size:40px; color:#999;line-height:23px;}
	.news_info li .tit span{display:block; color:#fff;}
	.news_info li .box {overflow:hidden; display: -webkit-box;display: box;-webkit-box-orient: vertical;box-orient: vertical; /*세로로*/-webkit-box-pack: center; position:relative; width:180px; height:70px; margin:30px auto 0; border-right:2px solid #fff; border-left:2px solid #fff; }
	.news_info li .box:before { display:block; position:absolute; width:30px; height:2px; background:#fff; content:"";   }
	.news_info li .box:after { display:block; position:absolute; right:0; bottom:0; width:30px; height:2px; background:#fff; content:"";  }
	.news_info li .box .sub_txt01{color:#2c8212;}
	.news_info li .box .sub_txt02{margin-top:5px; color:#cdcdcd; }
	.news_info li .txt {margin-top:8%; color:#999; transition:.3s all;}
	.news_info li a:hover .txt {color:#fff;}
	.news_info li a:hover .img {opacity:.8;}
	

	.news_zone .sub_tit.scroll  {animation:move 1.4s ease; opacity:1;}
	.news_zone .sub_tit + .txt.scroll {animation:move 1.4s ease; opacity:1;}
	.news_zone li.scroll{animation:move 1.4s ease; opacity:1;}
	
/* */
.map_zone {}
	.map {width:100%; height:400px; background:gray; opacity:0;}
	#map_canvas {width:100%; height:100%;}
	.addr_zone {opacity:0;}
	.addr_inner {width:1200px; margin:0 auto; padding:50px 0;}
	.addr_inner:after {display:block; clear:both; content:""; }
	.addr_inner li { float:left ;text-align:center; width:33.3333%; }
	.addr_inner li .info {display:inline-block; position:relative; padding-left:45px; vertical-align:middle;  text-align:left;}
	.addr_inner li .info:before {display:block; position:absolute; left:0; top:5px; width:26px; height:29px; content:"";}
	.addr_inner li .txt {display:inline-block;font-weight:bold; color:#333;}
	.addr_inner li .txt span {font-weight:normal; color:#666;}

	.addr_inner li .info.call:before { background:url(../image/main/call.png) no-repeat;}
	.addr_inner li .info.mail:before { background:url(../image/main/mail.png) no-repeat;}
	.addr_inner li .info.point:before { background:url(../image/main/point.png) no-repeat;}

.map.scroll {animation:move 1.4s ease; opacity:1;}
.addr_zone {animation:move 1.4s ease; opacity:1;}









/* --------------- */
@keyframes main_top {0% {transform:translateY(0px);} 50% {transform:translateY(20px);} 100% {transform:translateY(0px);}}
@keyframes arow01 {0% {transform:translateX(0px);} 50% {transform:translateX(5px);} 100% {transform:translateX(0px);}}


/* 공통 */

@keyframes move {0% {transform:translateY(50px); opacity:0;} 100%{transform:translateY(0); opacity:1;}}

