/* 포트폴리오 */

.portfolio_title_zone {width:100%; min-width:1400px; height:980px; background:url(../image/portfolio/portfolio.png) no-repeat 50% 0; background-size:cover;}

.portfolio_inner {position:relative; width:1400px;height:980px; margin:0 auto;  background:url(../image/portfolio/camera.png) no-repeat 0 0;   animation:camera_hand 3s ease;}
.portfolio_inner:before {display:block; position:absolute;top:307px;;left:430px;width:483px; height:483px; background:url(../image/portfolio/camera01.png) no-repeat 0 0; content:""; opacity:1;}
.portfolio_inner:after {display:block;  position:absolute;top:394px;left:540px;width:287px; height:287px; background:url(../image/portfolio/camera02.png) no-repeat 0 0; content:""; content:""; opacity:1;}
.portfolio_inner.on:before {animation:camera01 10s ease;}
.portfolio_inner.on:after {animation:camera02 10s ease;}

.portfolio_tit_zone {overflow:hidden; position:absolute; top:250px; right:0; width:500px; height:500px;}

.tit_inner {display:none; text-align:right; text-shadow:2px 2px 2px #454545;}
.tit_inner .tit{padding-bottom:30px; font-size:30px; font-weight:bold; color:#fafafa; animation:move 1s;}
.tit_inner .txt{ font-size:15px; text-align:right; color:#dbdbdb; line-height:30px;}

.tit_inner .tit:first-child + .txt { animation:move 1.4s;}
.tit_inner .tit:first-child + .txt + .txt { animation:move 1.8s;}
.tit_inner .tit:first-child + .txt + .txt + .txt { animation:move 2.2s;}
.tit_inner .tit:first-child + .txt + .txt + .txt + .txt { animation:move 2.6s;}

.tit_inner.show {displaY:block;}

.picture_group_zone {}
.category_zone {position:relative; width:100%;min-width:1200px; height:730px; padding-top:70px; background:url(../image/portfolio/bgbgbg.png ) no-repeat 50% 0; background-size:cover;  text-align:center;}
.category_inner {position:relative; width:1200px; margin:0 auto; text-align:center; opacity:0;}
.category_inner.scroll {animation:move 1.4s ease; opacity:1;}
.category_slider {height:570px;}
.category_slider li {display: inline; position:absolute;  width:350px; height:550px; transition:1s all;}
.category_slider li  span {display:none;}
.category_slider li a {display:block; position:relative; left:50%; width:120px; margin-top:420px; margin-left:-60px; padding:10px 0; opacity:0; color:#fff; transition:.5s all; text-shadow:2px 2px 2px #454545;}
.category_slider li a:before {display:block;position:absolute;top:0;left:0;width:0%;height:1px; background:#fff; content:""; transition:1.5s all; box-shadow:1px 1px 2px #454545;}
.category_slider li a:after {display:block;position:absolute; bottom:0;right:0; width:0%;height:1px; background:#fff; content:""; transition:1.5s all; box-shadow:1px 1px 2px #454545;}
.category_slider li.list_01 a {animation:title 1s; opacity:1;}
.category_slider li.list_01 a:before {width:100%;}
.category_slider li.list_01 a:after {width:100%;}
.category_slider li a:hover {font-weight:bold; color:#2c8212; background:#fff;  text-shadow:none;}
.category_slider li a:hover:before {opacity:0;}
.category_slider li a:hover:after {opacity:0; }

.category_slider li.list_01 {transform-origin: 0px 0px 0px;transform: translate(-175px, 30px) scale(1);opacity:1; z-index: 50;}
.category_slider li.list_02 {transform-origin: 0px 0px 0px;  transform: translate(-600px, 100.5px) scale(0.825);opacity:.7; z-index: 30;}
.category_slider li.list_03 {transform-origin: 0px 0px 0px; transform: translate(-380px, 178.5px) scale(0.475);opacity:.3; z-index: 25;}
.category_slider li.list_04 {transform-origin: 0px 0px 0px;  transform: translate(-52px, 186px) scale(0.3);opacity:.2;  z-index: 20;}
.category_slider li.list_05 {transform-origin: 0px 0px 0px; transform: translate(213px, 178.5px) scale(0.475); opacity:.3; z-index: 25; }
.category_slider li.list_06 {transform-origin: 0px 0px 0px;  transform: translate(312px, 100.5px) scale(0.825);opacity:.7;  z-index: 30; }
.category_slider li .img {position:absolute; width:100%;height:100%; }
.category_slider li .img2 {display:none; position:absolute; width:100%;height:100%; }
.category_slider li .img img {width:100%; height:100%;}
.category_slider li .img2 img {width:100%; height:100%;}
.category_title {margin-top:30px; font-size:25px; font-weight:bold; color:#fff; }
.category_title span {position:relative; padding:0 30px;}
.category_title span:before {display:block; position:absolute; top:50%; left:0;  width:20px; height:2px; margin-top:-1px; background:#fff; content:"";}
.category_title span:after {display:block; position:absolute; top:51%; right:0; width:20px; height:2px; margin-top:-1px;  background:#fff; content:"";}

.category_zone .btn_article {position:absolute;width:1200px; top:350px;left:50%;z-index:55;margin-left:-600px; opacity:0;} 
.category_zone .btn_article.scroll {animation:move 1.4s ease; opacity:1;}
.category_zone .btn_article ul {  }
.category_zone .btn_article ul li {position:absolute;}
.category_zone .btn_article ul li.prev {left:400px;}
.category_zone .btn_article ul li.next {right:400px;}
.category_zone .btn_article ul li a {text-indent:-9999px; font-size:0;}
.category_zone .btn_article ul li.prev a {display:inline-block;  width:17px; height:31px; background:url(../image/portfolio/left.png) no-repeat 0 0;}
.category_zone .btn_article ul li.next a {display:inline-block; width:17px; height:31px;background:url(../image/portfolio/right.png) no-repeat 0 0;}

.fixed_bg {width:100%; height:300px; background:url(../image/portfolio/middle_bg.png) ; background-attachment:fixed; background-repeat: repeat-y;}

.Album_zone {width:100%; padding:100px 0; background:#202020; }
.Album_inner {position:relative; width:1400px; margin:0 auto; opacity:0; }
.Album_inner.scroll {animation:move 1.4s ease; opacity:1;}
.Album_inner > li {display:none; width:100%;}
.Album_inner > li:after {display:block; clear:both; content:"";}
.Album_inner > li.show{display:block;}

.album_list_zone {float:left; width:77%; height:600px;  box-sizing:border-box;}
.album_list {position:relative;left:15%;}
.album_list > li {position:absolute;}
.picture_type { display:none; position:relative; width:650px; height:400px; border-radius:10px; transition:1s all;}
.picture_type .img {display:none;}
.album_list > li.type00 .picture_type{display:block;transform:skew(4deg,0) translate(360px, 30px) scale(1.2);opacity:0; animation: img_box 1s; transition:1s all;z-index:550;}
.album_list > li.type01 .picture_type{display:block; transform:skew(4deg,0) translate(230px, 30px) scale(1); z-index:500;}
.album_list > li.type02 .picture_type{display:block; transform:skew(4deg,0) translate(100px, 30px) scale(.9);z-index:450;}
.album_list > li.type03 .picture_type{display:block; transform:skew(4deg,0) translate(-30px, 30px) scale(.8);z-index:400;}
.album_list > li.type04 .picture_type{display:block; transform:skew(4deg,0) translate(-160px, 30px) scale(.7);z-index:350;}
.album_list > li.type05 .picture_type{display:block; transform:skew(4deg,0) translate(-290px, 30px) scale(.6);z-index:300;}
.album_list .bottom {position:absolute; bottom:-30%;left:14px; width:100%;height:30%; background:rgba(0,0,0,.3); border-radius:10px; transform:rotate(180deg)skew(10deg,0);opacity:0.0999;}
.album_list .bottom.show{opacity:0.5;}
.Album_inner .txt_zone {overflow:hidden;float:left; width:23%; height:600px; padding-top:27px; box-sizing:border-box; }
.Album_inner .txt_inner {width:100%; height:100%;}
.Album_inner .txt_inner li {display:none;}
.Album_inner .txt_inner li.on {display:block;}
.Album_inner .txt_inner .txt {overflow:hidden; padding:0 30px; font-size:12px;}
.Album_inner .txt_inner .txt.type01 {font-size:14px; color:red;}
.Album_inner .txt_inner .txt span {display:inline-block; color:#fff;}
.Album_inner .txt_inner .txt:first-child span {animation:picture_txt 1s;font-size:35px; font-weight:bold;}
.Album_inner .txt_inner .txt:first-child + .txt span {animation:picture_txt 1.2s; margin-top:20px; font-size:25px;}
.Album_inner .txt_inner .txt:first-child + .txt + .txt span {animation:picture_txt 1.4s; margin-top:20px;}
.Album_inner .txt_inner .txt:first-child + .txt + .txt + .txt span {animation:picture_txt 1.8s; margin-top:10px;}
.Album_inner .txt_inner .txt:first-child + .txt + .txt +.txt + .txt span {animation:picture_txt 2.2s; margin-top:20px; color:#dbdbdb;}

.Album_inner > li .btn_article {position:absolute; bottom:80px; right:250px; z-index:600}
.Album_inner > li .btn_article p {position:absolute; top:0;}
.Album_inner > li .btn_article p.prev {}
.Album_inner > li .btn_article p.next {left:25px;} 
.Album_inner > li .btn_article p.prev a {background:url(../image/portfolio/left.png) no-repeat 0 0;}
.Album_inner > li .btn_article p.next a {background:url(../image/portfolio/right.png) no-repeat 0 0;}
.Album_inner > li .btn_article p a {display:block; width:17px; height:31px; text-indent:-9999px;}

.select_list_zone {position:relative; width:100%; background:#fafafa;}
.img_list_zone {display:none; width:100%; padding:100px 0;} /* overflow:hidden 준비 */
.img_list_zone.view {display:block;}
.img_list_inner  { width:1000%;}
.img_list_inner:after {display:block; clear:both; content:"";}
.img_list_inner li {float:left;  margin-right:10px; transition:1s all;}
.img_list_inner li a {display:block; width:290px; height:250px; box-sizing:border-box;  border-radius:5px;box-shadow:3px 3px 3px #bbb;  }
.img_list_inner li .text_zone {display:none;}
.img_list_inner li .text_zone .img {display:none;}
.select_img_zone {position:relative; top:30px; width:860px; height:540px; margin:0 auto; box-sizing:border-box; border-radius:5px;box-shadow:3px 3px 3px #bbb; } 
.select_img_zone .select_img_inner {width:100%;height:100%;background:#fff;}
.select_img_zone .text_zone {overflow:hidden; position:absolute; bottom:0; width:100%; height:100px; background:rgba(0,0,0,.7); border-bottom-left-radius:5px; border-bottom-right-radius:5px;}

.select_img_inner .text_zone .img {display:none;}
.select_img_inner .text_zone .tit {padding:20px 20px 0; font-weight:bold; color:#fff;} 
.select_img_inner .text_zone .txt {padding:0 20px; font-size:13px; color:#dbdbdb;}
.select_img_inner .text_zone .txt2 {padding:0 20px; font-size:13px; color:#dbdbdb;}
.select_img_inner .text_zone  .date {position:absolute; right:20px; bottom:10px; color:#ddd;}



/*   */
@keyframes camera_hand {0% {opacity:0;} 100%{opacity:1;}}
@keyframes camera01 {0% {transform:rotate(0deg);}  100%{transform:rotate(360deg);}}
@keyframes camera02 {0% {transform:rotate(0deg)}  100%{transform:rotate(-360deg)}} 

@-webkit-keyframes title { 0% {transform:translateY(35px); opacity:0;}100%{transform:translateY(0); opacity:1;}}
@-webkit-keyframes picture_txt { 0% {transform:translateY(35px); }100%{transform:translateY(0);}}

@-webkit-keyframes move { 0% {transform:translateY(50px); opacity:0;}100%{transform:translateY(0); opacity:1;}}
@-moz-keyframes move { 0% {transform:translateY(50px); opacity:0;} 100%{transform:translateY(0); opacity:1;}}
@-o-keyframes move { 0% {transform:translateY(50px); opacity:0;} 100%{transform:translateY(0); opacity:1;}}
@-ms-keyframes move {0% {transform:translateY(50px); opacity:0;} 100%{transform:translateY(0); opacity:1;}}
@keyframes move {0% {transform:translateY(50px); opacity:0;} 100%{transform:translateY(0); opacity:1;}}


@media all and (max-width:1350px){
.Album_inner {width:1200px; } 
.album_list {position:relative;left:0;}
.Album_inner > li .btn_article {position:absolute; bottom:80px; right:215px;}
}