@charset "utf-8";
@font-face{font-family:"Nanum Gothic"; src:url("../font/NanumGothic.eot")}
@font-face{font-family:"Nanum Gothic"; src:url("../font/NanumGothic.woff")}

*{margin:0;padding:0;}
body{font:12px '나눔 고딕', Nanum Gothic, '돋움', dotum, Verdana, Simsun, Tahoma, sans-serif; color:#333;}
img{border:none;vertical-align:middle;}
a{text-decoration:none;vertical-align:middle; color:#333;}
li{list-style:none;}
.newNop_hide,legend,caption,hr{position:absolute; left:-9999px; width:0; height:0; text-indent:-9999px; overflow:hidden;}
h1,h2,h3,h4,h5,h6,address,abbr,em,acronym{font-size:100%; font-weight:normal; text-decoration:none; font-style:normal;}
fieldset{border:none;}
input,select,textarea,button{vertical-align:middle;}