@charset "utf-8";
/*** jquery.selectbox-0.2.js ***/

.sbHolder { position: relative; background-color: #fff; border: solid 1px #bababa; height:22px; }
.sbHolder:focus .sbSelector { color: #656565; }
.sbSelector { display: block; height: 22px; left: 0; line-height: 24px; outline: none; overflow: hidden; position: absolute; text-indent: 10px; top: 0; width: 185px; }
.sbSelector:link, .sbSelector:visited, .sbSelector:hover { color: #aaa; outline: none; text-decoration: none; }
.sbToggle { background:url("//image.ssgdfs.com/images/shop/product/detail/bg_select.gif") no-repeat 0 0; display: block; height: 22px; outline: none; position: absolute; right: 0; top: 0; width: 22px; }
.sbToggle:hover { }
.sbToggleOpen { }
.sbToggleOpen:hover { }
.sbHolderDisabled { background: #fff; border: solid 1px #515151; }
.sbHolderDisabled .sbHolder { }
.sbHolderDisabled .sbToggle { }
.sbOptions { background-color: #fff; border: solid 1px #bababa; left: -1px; position: absolute; top: 22px; width: 207px; z-index: 30; overflow-y: auto; }
.sbOptions a { display: block; outline: none; padding: 4px 7px 4px 10px; color:#aaa !important;}
.sbOptions a:link, .sbOptions a:visited {color:#aaa; text-decoration: none; }
.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {color:#d62b21 !important; background:#fff;} 
.sbOptions li.last a { border-bottom: none; }
.sbOptions .sbDisabled { color: #aaa; display: block; padding: 7px 0 7px 3px; }
.sbOptions .sbGroup { color: #aaa; display: block; font-weight: bold; padding: 7px 0 7px 3px; }
.sbOptions .sbSub { padding-left: 17px; }
